* {
    font-family: "PlemolJPConsoleNF-ExtraLight", monospace;
    font-size: 13px;
}

window {
    background-color: #11131c;
    border: 1px solid #90909c;
    border-radius: 8px;
}

#input {
    background-color: #454651;
    color: #e2e1ef;
    border: none;
    border-bottom: 2px solid #90909c;
    border-radius: 8px 8px 0 0;
    padding: 10px 14px;
    margin: 0;
    outline: none;
}

#input:focus {
    border-bottom: 2px solid #bbc3ff;
}

#inner-box,
#outer-box,
#scroll {
    background-color: #11131c;
}

#outer-box {
    padding: 6px;
}

#text {
    color: #c6c5d3;
    padding: 2px 8px;
}

#entry {
    border-radius: 4px;
    padding: 4px 6px;
}

#entry:selected {
    background-color: #002bcf;
}

#entry:selected #text {
    color: #dee0ff;
}

#entry.child {
    background-color: #11131c;
    border-left: 2px solid #90909c;
    border-radius: 0;
}

#entry.child #text {
    color: #c6c5d3;
    font-size: 12px;
}

#entry.child {
    background-color: #11131c;
    border-left: 2px solid #90909c;
    border-radius: 0;
}

#entry.child #text {
    color: #c6c5d3;
    font-size: 12px;
}
