* {
    font-family: "PlemolJPConsoleNF-ExtraLight", monospace;
    font-size: 13px;
}

window {
    background-color: #14140c;
    border: 1px solid #949181;
    border-radius: 8px;
}

#input {
    background-color: #49473a;
    color: #e6e2d5;
    border: none;
    border-bottom: 2px solid #949181;
    border-radius: 8px 8px 0 0;
    padding: 10px 14px;
    margin: 0;
    outline: none;
}

#input:focus {
    border-bottom: 2px solid #ceca75;
}

#inner-box,
#outer-box,
#scroll {
    background-color: #14140c;
}

#outer-box {
    padding: 6px;
}

#text {
    color: #cac7b6;
    padding: 2px 8px;
}

#entry {
    border-radius: 4px;
    padding: 4px 6px;
}

#entry:selected {
    background-color: #4b4900;
}

#entry:selected #text {
    color: #ebe68e;
}

#entry.child {
    background-color: #14140c;
    border-left: 2px solid #949181;
    border-radius: 0;
}

#entry.child #text {
    color: #cac7b6;
    font-size: 12px;
}

#entry.child {
    background-color: #14140c;
    border-left: 2px solid #949181;
    border-radius: 0;
}

#entry.child #text {
    color: #cac7b6;
    font-size: 12px;
}
